.moovie-tile {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    background: var(--solid-bg);
    border: 2px solid #2b2b2b;
    padding: 50px 10px;
    width: 100%;
    /*aspect-ratio: 16/9;*/
    box-sizing: border-box;
    display: flex;
    max-height: 200px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease 0.3s;
    position: relative;
}

.moovie-tile:hover {
    border-color: var(--purple-accent);
    color: var(--purple-text);
}

.moovie-tile h1 {
    font-size: 1.1em;
    margin: 0;
}

.moovie-tile span.year {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    padding: 2px 5px;
    font-size: 0.7em;
    background: rgba(147, 12, 207, 0.56);
}

.moovie-tile span.float-tile {
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: cubic-bezier(0.52, 0.17, 0, 0.82) 0.3s;
}

.moovie-tile span.float-tile:hover {
    background: var(--purple-accent);
    color: white;
    padding: 10px 20px;
}

.moovie-tile span.web {
    left: 10px;
    bottom: 5px;
}

.moovie-tile span.web:hover {
    left: 0;
    bottom: 0;
}

.moovie-tile span.clip {
    left: 12px;
    top: 7px;
}

.moovie-tile span.clip:hover {
    left: 0;
    top: 0;
}
