.moovies-header {
    background: var(--solid-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.moovies-home-nav {
    display: flex;
    justify-content: space-between;
}

.moovies-header .hidden {
    padding: 20px;
}
