.moovie-details-container {
  min-height: 100vh;
  padding: 2em;
  background: #383d46;
  text-align: center;
}

.moovie-details-container div.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.moovie-details-container .section:nth-child(2) {
  height: 100px;
  flex: 1;
  text-align: left;
}

.moovie-details-container .sinopsis h1 {
  font-size: 1.4em;
  color: var(--accent-text);
  margin: 0;
  margin-bottom: 10px;
}

.moovie-details-container .sinopsis p {
  color: rgba(255, 255, 255);
}
