.moovie-details-container {
  min-height: 100vh;
  padding: 2em;
  background: #383d46;
  text-align: center;
}

.moovie-details-container div.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.moovie-details-container div.details .section {
}
