input.custom-text-field {
    outline: none;
    border: 1px solid var(--solid-bg);
    background-color: #4a4757;
    transition: 0.3s;
    color: rgba(235, 219, 219, 0.8);
    padding: 5px 10px;
    text-align: var(--input-text-align);
}

input.custom-text-field::placeholder {
    color: rgba(255, 255, 255, 0.29);
}
input.custom-text-field:hover::placeholder {
    color: var(--input-placeholder-color);
}

input.custom-text-field:hover,
input.custom-text-field:focus {
    border-color: var(--input-border-color);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
